<div class="input-component">
  @if (label) {
  <label for="{{ uniqueId }}" class="input-label">{{ label }}</label>
  <input
    id="{{ uniqueId }}"
    name="{{ uniqueId }}"
    type="{{ type }}"
    placeholder="{{ placeholder }}"
    [value]="value"
    (input)="handleInputChange($event)"
    [ngClass]="{ 'input-error': !isValid && validate }"
  />
  } @else {
  <input
    id="{{ uniqueId }}"
    type="{{ type }}"
    placeholder="{{ placeholder }}"
    [value]="value"
    (input)="handleInputChange($event)"
  />
  }
</div>
