<div class="flex justify-center h-screen items-center bg-surface">
  <app-card>
    <div card-title class="flex w-full">Sign in to your account</div>
    <div card-content class="mt-xl">
      <div class="flex flex-col gap-lg">
        <app-input
          [type]="'text'"
          [placeholder]="'Email'"
          [label]="{ id: 'email', name: 'Email' }"
          [(ngModel)]="email"
        />
        <app-input
          [type]="'text'"
          [placeholder]="'Password'"
          [label]="{ id: 'password', name: 'Password' }"
          [(ngModel)]="password"
        />
      </div>
    </div>
    <div card-footer class="mt-xl">
      <app-button variant="filled" (click)="onSigIn()" >Sign in</app-button>
    </div>
  </app-card>
</div>
<div class="flex ml-xs gap-sm">
  <app-button variant="elevated">Elevated</app-button>
  <app-button [icon]="{ name: icons.download }">Icon Left</app-button>
  <app-button [icon]="{ name: icons.download, position: 'right' }">Icon Right</app-button>
  <app-button variant="filled">Filled</app-button>
  <app-button variant="outlined">Outlined</app-button>
  <app-button variant="icon" [icon]="{ name: icons.download }" />
  <div class="flex items-center">
    <app-button variant="text">Text</app-button>
  </div>
</div>
<div class="flex justify-center bg-surface py-lg">
  <app-card>
    <div card-title>Card Title</div>
    <div card-desc>Card description</div>
    <div card-content>Content</div>
    <div card-footer>Footer</div>
  </app-card>
</div>
<div class="flex flex-col p-sm gap-md">
  <div class="w-1/6">
    <app-input
      [type]="'text'"
      [placeholder]="'Email'"
      [label]="{ id: 'my-input', name: 'Email' }"
    />
  </div>
  <div class="w-1/6">
    <app-input [type]="'password'" [placeholder]="'Password'" />
  </div>
</div>
<app-footer></app-footer>
