.btn-base {
  @apply inline-flex items-center justify-center px-md py-sm w-full rounded-lg font-medium gap-sm select-none
         focus:ring-2 focus:ring-inherit
         hover:!bg-opacity-90;
}

.btn-elevated {
  @apply btn-base drop-shadow-md;
  &.primary {
    @apply bg-primary text-on-primary;
  }
  &.secondary {
    @apply bg-secondary text-on-secondary;
  }
}

.btn-filled {
  @apply btn-base;
  &.primary {
    @apply bg-primary text-on-primary;
  }
  &.secondary {
    @apply bg-secondary text-on-secondary;
  }
}

.btn-outlined {
  @apply btn-base border;
  &.primary {
    @apply text-primary border-outline-var hover:!bg-primary-light;
  }
  &.secondary {
    @apply text-secondary border-outline-var hover:!bg-secondary-light;
  }
}

.btn-text {
  @apply btn-base text-primary !p-none
         focus:ring-0 focus:underline
         hover:underline;
}

.btn-icon {
  @apply btn-base text-xl !gap-[0] !p-sm !w-fit;
  &.primary {
    @apply bg-primary text-on-primary;
  }
  &.secondary {
    @apply bg-secondary text-on-secondary;
  }
}
